$borderColor: #f9f2f2;
$lightColor:#ccc6c6;
.splitLine{
    width:100%;
    height:4px;
    background-color:$borderColor;
}
.spliteLineSmall{
    width:100%;
    height:1px;
    background-color:$borderColor;
}